nav {
  background-color: black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: white;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.25rem;
}

nav a:hover {
  text-decoration: underline;
}

.link-disabled {
  color: white;
  opacity: 30%;
  cursor: not-allowed;
  margin-right: 1rem;
}

.nav-group {
  display: flex;
  gap: 1rem;
}
