.appointments-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#add-appointment {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(44, 4, 84);
  color: white;
  font-size: 1.25rem;
  box-shadow: 0 8px 16px rgba(255, 253, 253, 0.2);
}
